@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background: #F3E8D2;
  color: #16201C;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #C75B39;
  border-radius: 999px;
}
